#!/bin/bash

{{ if eq .os_id "darwin" }}

# since chezmoi is installed via brew, we can assume brew is installed
brew install ansible
ansible-playbook ~/.config/bootstrap/darwin.yml --ask-become-pass

{{ else if eq .os_id "linux-ubuntu" }}

sudo apt update
sudo apt install -y ansible
ansible-playbook ~/.config/bootstrap/ubuntu.yml --ask-become-pass

{{ end }}

echo "Chezmoi --- Ansible installed and playbook run"
