#!/bin/bash

set -eufo pipefail

printf "=================================================\n"
printf "=== Chezmoi 03 - Install NVM and Miniconda\n"

# Install NVM if not already installed
if [ ! -d "$HOME/.nvm" ]; then
    printf "=== Installing NVM\n"
    if ! NVM_VERSION=$(curl -s https://api.github.com/repos/nvm-sh/nvm/releases/latest | grep -Po '"tag_name": "\K.*?(?=")'); then
        printf "Failed to get latest NVM version, defaulting to installing version 0.40.1\n"
        NVM_VERSION="v0.40.1"
    fi
    bash -c "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/${NVM_VERSION}/install.sh | bash"
else
    printf "NVM is already installed\n"
fi

# Source NVM script to make nvm command available
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# Install Node.js LTS version using NVM if not already installed via NVM
if ! command -v node &> /dev/null || [ "$(which node)" != "$NVM_DIR/versions/node/$(nvm current)/bin/node" ]; then
    printf "=== Installing Node.js LTS version\n"
    nvm install --lts
else
    printf "Node.js is already installed via NVM\n"
fi

# Install Miniconda if not already installed
if [ ! -d "$HOME/.miniconda3" ]; then
    printf "=== Installing Miniconda3\n"
    {{ if eq .chezmoi.os "darwin" }}
        CONDA_INSTALLER="Miniconda3-latest-MacOSX-arm64.sh"
    {{ else if eq .chezmoi.os "linux" }}
        CONDA_INSTALLER="Miniconda3-latest-Linux-x86_64.sh"
    {{ end }}
    curl -LO "https://repo.anaconda.com/miniconda/$CONDA_INSTALLER"
    bash $CONDA_INSTALLER -b -p "$HOME/.miniconda3"
    rm $CONDA_INSTALLER
else
    printf "Miniconda3 is already installed\n"
fi

# Run conda activate base and install latest Python and pip if not already installed
if ! "$HOME/.miniconda3/bin/conda" list | grep -q "^python[[:space:]]"; then
    printf "=== Activating conda base environment and installing latest Python and pip\n"
    source "$HOME/.miniconda3/bin/activate"
    conda activate base
    conda install -y python pip
else
    printf "Python and pip are already installed in the conda base environment\n"
fi

printf "\n=== NVM and Miniconda installation complete\n"
printf "=================================================\n"

{{- /* vim: set filetype=sh: */ -}}
