#!/bin/bash

{{ if eq .os_id "darwin" }}

# dot_config/bootstrap/darwin.yml hash: {{ include "dot_config/bootstrap/darwin.yml" | sha256sum }}
if command -v ansible-playbook &> /dev/null; then
    ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_config/bootstrap/darwin.yml" | quote }} --ask-become-pass
fi

{{ else if eq .os_id "linux-ubuntu" }}

# dot_config/bootstrap/ubuntu.yml hash: {{ include "dot_config/bootstrap/ubuntu.yml" | sha256sum }}
if command -v ansible-playbook &> /dev/null; then
    ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_config/bootstrap/ubuntu.yml" | quote }} --ask-become-pass
fi

{{ end }}

echo "Chezmoi --- Ansible playbook re-run"
