{{- $os_id := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-     $os_id = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $is_wsl := false -}}
{{- if hasKey .chezmoi.kernel "osrelease" -}}
{{-     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-         $is_wsl = true -}}
{{-     end -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "GIT: Global git commit email" -}}
{{- $ephemeral := promptBoolOnce . "ephemeral" "EPHEMERAL: Is this machine temporary, e.g., codespaces/VM instance" -}}
{{- $headless := promptBoolOnce . "headless" "HEADLESS: Is this machine headless (without screen and/or keyboard)" -}}

[data]
    os_id = {{ $os_id | quote }}
    is_wsl = {{ $is_wsl }}

    email = {{ $email | quote }}
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}

{{- if not $ephemeral }}
    personal = {{ (promptBoolOnce . "personal" "PERSONAL: Should this machine have your personal secrets") }}
{{- else }}
    personal = false
{{ end }}

{{- if not $headless }}
    nvim_appname = "nvim-full"
    anthropic_api_key = {{ (promptStringOnce . "anthropic_api_key" "NVIM: Anthropic API key (Avante plugin)") | quote }}
    openai_api_key = {{ (promptStringOnce . "openai_api_key" "NVIM: OpenAI API key (ChatGPT plugin)") | quote }}
    obsidian_vault = {{ (promptStringOnce . "obsidian_vault" "NVIM: Obsidian vault absolute path (Obsidian plugin)") | quote }}
    overleaf_cookies = {{ (promptStringOnce . "overleaf_cookies" "NVIM: Overleaf browser cookies (AirLatex plugin)") | quote }}
{{- else }}
    nvim_appname = "nvim-minimal"
{{- end }}

[diff]
    command = "delta"
    pager = "delta"

{{- /* vim: set filetype=toml: */ -}}
