{{ if .headless }}
.config/solaar/
.config/Stretchly/
.config/nvim-full/
.config/nvim-minimal/**/obsidian.lua
.config/nvim-minimal/**/overleaf.lua
{{ if ne .os_id "linux-ubuntu" }}
.config/tiling-assistant/
{{ end }}
.config/wezterm/
{{ end -}}

{{- /* vim: set filetype=gitignore: */ -}}
