#!/bin/bash

printf "=================================================\n"
printf "=== Chezmoi Before 06 - Install Neovim\n"

# Source nvm
export NVM_DIR="$HOME/.nvm"
if [ -s "$NVM_DIR/nvm.sh" ]; then
    . "$NVM_DIR/nvm.sh"
    nvm use node > /dev/null
else
    echo "=== nvm is not installed or nvm.sh is missing"
    exit 1
fi

# Source Miniconda
if [ -f "$HOME/.miniconda3/etc/profile.d/conda.sh" ]; then
    . "$HOME/.miniconda3/etc/profile.d/conda.sh"
    conda activate base
else
    echo "=== Miniconda is not installed or conda.sh is missing"
    exit 1
fi

# Now enable strict error handling
set -eufo pipefail

# Install Neovim if not already installed
if ! command -v nvim &> /dev/null; then
    {{ if eq .os_id "linux-ubuntu" }}
        # Add Neovim nightly PPA and install
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository -y ppa:neovim-ppa/unstable
        sudo apt-get update
        sudo apt-get install -y neovim

        {{ if not .headless }}
        # Install wl-clipboard and xclip if not in a headless environment
        sudo apt-get install -y wl-clipboard xclip

        # Install imagemagick for displaying images
        sudo apt-get install -y imagemagick libmagickwand-dev
        {{ end }}

    {{ else if eq .os_id "darwin" }}
        # Install Neovim using Homebrew
        brew install neovim

        {{ if not .headless }}
        # Install imagemagick for displaying images
        brew install imagemagick
        {{ end }}
    {{ end }}
else
    printf "=== Neovim is already installed\n"
fi

# Install npm packages if npm is available
if command -v npm &> /dev/null; then
    printf "=== Installing global npm packages: yarn, tree-sitter-cli, neovim\n"
    npm install -g yarn tree-sitter-cli neovim
else
    printf "=== npm is not installed for neovim node packages\n"
fi

# Install pip packages
if command -v pip3 &> /dev/null; then
    printf "=== Installing nvim pip packages: pynvim\n"
    pip3 install pynvim

    # Install additional pip packages if not in a headless environment
    {{ if not .headless }}
        printf "=== Installing overleaf pip packages: tornado, requests, intervaltree, beautifulsoup4\n"
        pip install tornado requests intervaltree beautifulsoup4
    {{ end }}
else
    printf "=== pip3 is not installed for neovim python packages\n"
fi

printf "\n=== Neovim installation complete\n"
printf "=================================================\n"

{{- /* vim: set filetype=sh: */ -}}
