README.md

{{ if .headless }}
.config/solaar/
.config/Stretchly/
.config/nvim-full/
{{ if eq .os_id "linux-ubuntu" }}
.config/tiling-assistant/
{{ end }}
.config/wezterm/
{{ end -}}

{{- /* vim: set filetype=gitignore: */ -}}
