# minimal: git, nvim-minimal, tmux, zshrc, zshenv
# headless: (minimal+) nvim-headless, p10k
# desktop: just put everything

archived_*

{{ if .headless -}}
.config/solaar/
.config/Stretchly/
.config/tiling-assistant/
.config/wezterm/
{{- end -}}
