# minimal: git, nvim-minimal, tmux, zshrc, zshenv
# headless: (minimal+) nvim-headless, p10k
# desktop: just put everything

{{- if neq .os "linux_ubuntu" -}}
.zshenv
{{ end -}}

{{ if .headless -}}
.config/nvim-full/
.config/solaar/
.config/Stretchly/
.config/tiling-assistant/
.config/wezterm/
{{ if .minimal -}}
.config/p10k.zsh
.config/nvim-headless/
{{- end }}
{{- end -}}
