#!/bin/bash

set -eufo pipefail

printf "=================================================\n"
printf "=== Chezmoi Before 03.1 - Install Node Virtual Manager\n"

# Install NVM if not already installed
if [ ! -d "$HOME/.nvm" ]; then
    if ! NVM_VERSION=$(curl -s https://api.github.com/repos/nvm-sh/nvm/releases/latest | grep -Eo '"tag_name": "\K.*?(?=")'); then
        printf "Failed to get latest NVM version, defaulting to installing version 0.40.1\n"
        NVM_VERSION="v0.40.1"
    fi
    bash -c "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/${NVM_VERSION}/install.sh | bash"
else
    printf "=== NVM is already installed\n"
fi

# Installing node moved to different script with no `set -eufo pipefail`
# On a fresh install, it tries to move some file not existed, thus it will
# build from source which is very resource heavy

printf "\n=== NVM installation complete\n"
printf "=================================================\n"

{{- /* vim: set filetype=sh: */ -}}
