#!/bin/bash

set -eufo pipefail

printf "=================================================\n"
printf "=== Chezmoi Before 05 - Install Lua and Luarocks\n"

# Install Lua if not already installed
if ! command -v lua &> /dev/null; then
    # Get the latest Lua version dynamically
    # if ! LUA_VERSION=$(curl -s https://www.lua.org/ftp/ | grep -oP 'lua-\d+\.\d+\.\d+\.tar\.gz' | sort -V | tail -n 1 | sed 's/\.tar\.gz//'); then
    #     printf "=== Failed to get latest lua version, defaulting to installing version 5.4.7\n"
    #     LUA_VERSION="lua-5.4.7"
    # fi

    # Get Lua version that is compatible with Neovim
    LUA_VERSION="lua-5.1.5"

    {{ if eq .chezmoi.os "darwin" }}
        curl -R -O https://www.lua.org/ftp/${LUA_VERSION}.tar.gz
        tar -zxf ${LUA_VERSION}.tar.gz
        cd ${LUA_VERSION}
        make macosx
        sudo make install
        cd ..
        rm -rf ${LUA_VERSION} ${LUA_VERSION}.tar.gz

    {{ else if eq .chezmoi.os "linux" }}
        # Install dependencies for Lua and Luarocks
        sudo apt-get update
        sudo apt-get install -y build-essential libreadline-dev unzip

        curl -R -O https://www.lua.org/ftp/${LUA_VERSION}.tar.gz
        tar -zxf ${LUA_VERSION}.tar.gz
        cd ${LUA_VERSION}
        make linux test
        sudo make install
        cd ..
        rm -rf ${LUA_VERSION} ${LUA_VERSION}.tar.gz

    {{ end }}
else
    printf "=== Lua is already installed\n"
fi

# Install Luarocks if not already installed
if ! command -v luarocks &> /dev/null; then
    {{ if eq .chezmoi.os "darwin" }}
        brew install luarocks
    {{ else if eq .chezmoi.os "linux" }}
        # Get the latest Luarocks version dynamically
        if ! LUAROCKS_VERSION=$(curl -s https://luarocks.github.io/luarocks/releases/ | grep -oP 'luarocks-\d+\.\d+\.\d+\.tar\.gz' | sort -V | tail -n 1 | sed 's/\.tar\.gz//'); then
            printf "=== Failed to get latest luarocks version, defaulting to installing version 3.11.1\n"
            LUAROCKS_VERSION="luarocks-3.11.1"
        fi
        curl -R -O https://luarocks.github.io/luarocks/releases/$LUAROCKS_VERSION.tar.gz
        tar -zxf $LUAROCKS_VERSION.tar.gz
        cd $LUAROCKS_VERSION
        ./configure --with-lua-include=/usr/local/include
        make
        sudo make install
        cd ..
        rm -rf $LUAROCKS_VERSION $LUAROCKS_VERSION.tar.gz
    {{ end }}
else
    printf "=== Luarocks is already installed\n"
fi

printf "\n=== Lua and Luarocks installation complete\n"
printf "=================================================\n"

{{- /* vim: set filetype=sh: */ -}}
