data:
{% for key, value in config.items() %}
  {{ key }}: {{ value | to_json }}
{% endfor %}

# Use git-delta for chezmoi diff
diff:
  command: "delta"
  pager: "delta"

# Use nvim for chezmoi interactive merge
merge:
  command: "nvim"
  args:
  - "-d"
  - "{{'{{ .Destination }}'}}"
  - "{{'{{ .Source }}'}}"
  - "{{'{{ .Target }}'}}"
