{{- $os_id := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-     $os_id = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $is_wsl := false -}}
{{- if hasKey .chezmoi.kernel "osrelease" -}}
{{-     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-         $is_wsl = true -}}
{{-     end -}}
{{- end -}}

{{- $overleaf_cookies := promptString "nvim overleaf cookies" -}}
{{- $obsidian_vault := promptString "obsidian vault abs path" -}}

[data]
    os_id = {{ $os_id | quote }}
    is_wsl = {{ $is_wsl }}
    tmux_data_dir = "{{ .chezmoi.homeDir }}/.local/share/tmux"
    overleaf_cookies = {{ $overleaf_cookies | quote }}
    obsidian_vault = {{ $obsidian_vault | quote }}

[diff]
    command = "delta"
    pager = "delta"

# vim: syntax=toml
